<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>requireParentClass</key>
	<string>Ace3DWorld</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>Ace3DBall</string>
	<key>editorClassName</key>
	<string>Ace3DBall</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Ace3DBall_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>objectPositionRefresh</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>objectPositionRefresh</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>object_x</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_object_x</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>object_y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_object_y</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>object_z</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_object_z</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>포물선</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>bFire</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bFire</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>power</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>tmpPower</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>angle(공의높이각도)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>tmpAngle</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>angleZ(공의좌우각도)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>tmpAngleZ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>g(중력)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>tmpG</string>
		</dict>
	</array>
</dict>
</plist>
