<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>requireParentClass</key>
	<string>actZNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>actJumpTo</string>
	<key>editorClassName</key>
	<string>actJumpTo</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>actJumpTo_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>time</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_time</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>x</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_x</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_y</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>height</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_height</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>jumpCount</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_jumps</string>
		</dict>
	</array>
</dict>
</plist>
