<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>AceSprite</string>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>AceSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
	<key>editorClassName</key>
	<string>AceSprite</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>AceSprite_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>blendFunc</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>displayFrame</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>255</integer>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>Opacity</string>
			<key>type</key>
			<string>Byte</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<false/>
				<false/>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>Flip</string>
			<key>name</key>
			<string>flip</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>BlendType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>blendType</string>
			<key>extra</key>
			<string>Normal|0|Linear Dodge|1|Screen|2|Multiply|3</string>
		</dict>
	</array>
</dict>
</plist>
