<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>Ace3DWorld</string>
	<key>editorClassName</key>
	<string>Ace3DWorld</string>
	<key>requireChildClass</key>
	<array>
		<string>Ace3DNode</string>
		<string>Ace3DBall</string>
		<string>Ace3DPlayer</string>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Ace3DWorld_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>bGridShow</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bGridShow</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>camera.a(x)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_camera_a</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>camera.b(y)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_camera_b</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>camera.c(z)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_camera_c</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>screen.s</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_screen_s</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>objMaxScale</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>objMaxScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>objMinScale</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>objMinScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gridStartX</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gridStartX</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gridStartY</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gridStartY</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gridWidth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gridWidth</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gridHeight</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gridHeight</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gridDepth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gridDepth</string>
		</dict>
	</array>
</dict>
</plist>
