<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>AceMaskNode</string>
	<key>editorClassName</key>
	<string>AceMaskNode</string>
	<key>requireChildClass</key>
	<array>
		<string>CCSprite</string>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>AceMaskNode_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>maskRefresh</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>maskRefresh</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
