<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>requireParentClass</key>
	<string>actZNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>actBezierTo</string>
	<key>editorClassName</key>
	<string>actBezierTo</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>actBezierTo_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>time</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_time</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>point1_x</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_point1_x</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>point1_y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_point1_y</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>point2_x</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_point2_x</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>point2_y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_point2_y</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>endPoint_x</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_endPoint_x</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>endPoint_y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_endPoint_y</string>
		</dict>
	</array>
</dict>
</plist>
