<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLayer</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>AceCoverPageScroll</string>
	<key>editorClassName</key>
	<string>AceCoverPageScroll</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>AceCoverPageScroll_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>--StartAction--</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bStartAction</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>--Reset--</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bReset</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Angle</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fAngle</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Len</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fLen</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>DefaultCur</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iDefaultCur</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>MaxSize</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fMaxSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>MinSize</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fMinSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ScrollSpeed</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fScrollSpeed</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>AngleToMove</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fAngleToMove</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Loop</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bLoop</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>MinAlpha</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fMinAlpha</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>AutoScroll</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bAutoScroll</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>AutoScrollSpeed</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fAutoScrollSpeed</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ShowNodeCnt</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iShowCnt</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Move Y</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fMoveY</string>
		</dict>
	</array>
</dict>
</plist>
