<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>AceGridLayer</string>
	<key>editorClassName</key>
	<string>AceGridLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>AceGridLayer_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>최대 가로 사이즈 제한</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bMaxContentSizeW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>최대 가로 사이즈(픽셀)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>maxContentSizeW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>최대 세로 사이즈 제한</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bMaxContentSizeH</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>최대 세로 사이즈(픽셀)</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>maxContentSizeH</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>row</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>row</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>col</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>col</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>cellWidth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>cellWidth</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>cellHight</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>cellHight</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>padingLeft</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>padingLeft</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>padingTop</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>padingTop</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gapX</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gapX</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>gapY</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>gapY</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>autoResize</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>autoResize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>contentSizeRefresh</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>contentSizeRefresh</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>AddWidth</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>bAddWidth</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
