<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>AceBarGraph</string>
	<key>editorClassName</key>
	<string>AceBarGraph</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>AceAreaGraph_Setting</string>
			<key>type</key>
			<string>Separator</string>
			<key>name</key>
			<string>Setting</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>--reset--</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bReset</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>--Scroll--</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bScroll</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>--Right--</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>m_bRight</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Scroll Width</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iScrollW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Idx</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iSelectedIdx</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Height</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iHeight</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Width</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iWidth</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CenterHeight</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iCenterHeight</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Margin</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iMargin</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Cnt</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>m_iCntPoint</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>backColor</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>m_backColor</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>backA</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fBackA</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>lineColor</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>m_lineColor</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>lineA</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fLineA</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>lineWidth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fLineWidth</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>centerLineColor</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>m_centerLineColor</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>centerLineA</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fCenterLineA</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>centerLineWidth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fCenterLineWidth</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>animatable</key>
			<true/>
			<key>displayName</key>
			<string>barColor</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>m_barColor</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>barA</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>m_fBarA</string>
		</dict>
	</array>
</dict>
</plist>
